{% extends 'base.html' %}

{% block title %}Sign in{% endblock title %}
{% block content%}
    <form method="POST" action="{% url 'signin' %}">
        {% include 'parciais/_messages.html' %}
        {% csrf_token %}
        <div class="container bg-dark rounded h-100 w-25">
            <h1 class="text-center text-white m-5 pt-3">Sign In</h1>
            <h6 class="text-center text-secondary m-5">Please enter your login and password</h6>
            <div>
                <input class="from-control form-control-lg mx-auto d-block mt-3 border-light bg-dark w-75 text-white" name="username" placeholder="Usarname" autocomplete="off" type="text">
            </div>
            <div>
                <input class="from-control form-control-lg mx-auto d-block mt-3 border-light bg-dark w-75 text-white" name="password" placeholder="Password" type="password">
            </div>
            <a class="text-white-50" href="#">
                <h6 class="text-center text-secondary mt-4 pb-2">Forgot password ?</h6>
            </a>
            <div class="pb-5">
                <button type="submit" class="btn btn-outline-light mx-auto d-block mt-3">Sign In</button>
            </div>
            <p class="text-light text-center py-5">Don't you have an account? <a class="text-white-50" href="signup">Sign Up</a></p>
        </div>
    </form>
{% endblock content %}